In [62]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

## ~~ Data Exploration

In [4]:
data_file = Path("Resources/Netflix.csv")
df_Netflix = pd.read_csv(data_file)
df_Netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",This sequel to the award-winning nature series...

In [5]:
df_Netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'genres', 'description'],
      dtype='object')

In [9]:
df_Netflix.shape

(7787, 12)

In [10]:
df_Netflix.describe()

       release_year     duration
count   7787.000000  7787.000000
mean    2013.932580    69.122769
std        8.757395    50.950743
min     1925.000000     1.000000
25%     2013.000000     2.000000
50%     2017.000000    88.000000
75%     2018.000000   106.000000
max     2021.000000   312.000000

In [13]:
df_Netflix.groupby('country').count()

,show_id,type,title,director,cast,date_added,release_year,rating,duration,genres,description
country,,,,,,,,,,,
Argentina,50,50,50,36,46,50,50,50,50,50,50
"Argentina, Brazil, France, Poland, Germany, Denmark",1,1,1,1,1,1,1,1,1,1,1
"Argentina, Chile",1,1,1,1,1,1,1,1,1,1,1
"Argentina, Chile, Peru",1,1,1,1,1,1,1,1,1,1,1
"Argentina, France",1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,1,1,1,1,1,1,1,1,1,1,1
"Venezuela, Colombia",1,1,1,1,0,1,1,1,1,1,1
Vietnam,5,5,5,5,5,5,5,5,5,5,5
West Germany,1,1,1,1,0,1,1,1,1,1,1
Zimbabwe,1,1,1,1,1,1,1,1,1,1,1

In [49]:
df_split_country = df_Netflix['country'].str.split(',', expand=True)
df_split_country.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Brazil,None,None,None,None,None,None,None,None,None,None,None
1,India,None,None,None,None,None,None,None,None,None,None,None
2,Indonesia,None,None,None,None,None,None,None,None,None,None,None
3,United States,None,None,None,None,None,None,None,None,None,None,None
4,United Kingdom,None,None,None,None,None,None,None,None,None,None,None

In [50]:
df_Netflix_merged_country = pd.merge(df_Netflix, df_split_country, left_index=True, right_index=True)
df_Netflix_merged_country.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,2,3,4,5,6,7,8,9,10,11
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,...,None,None,None,None,None,None,None,None,None,None
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,...,None,None,None,None,None,None,None,None,None,None
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,...,None,None,None,None,None,None,None,None,None,None
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,...,None,None,None,None,None,None,None,None,None,None
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,03-Dec-18,2017,TV-G,1,...,None,None,None,None,None,None,None,None,None,None

In [51]:
df_Netflix_merged_country.drop(columns=['country'], inplace=True)
df_Netflix_merged_country.head()

,show_id,type,title,director,cast,date_added,release_year,rating,duration,genres,...,2,3,4,5,6,7,8,9,10,11
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",...,None,None,None,None,None,None,None,None,None,None
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",...,None,None,None,None,None,None,None,None,None,None
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",...,None,None,None,None,None,None,None,None,None,None
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",01-Mar-16,2016,R,90,Comedies,...,None,None,None,None,None,None,None,None,None,None
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",...,None,None,None,None,None,None,None,None,None,None

In [53]:
df_Netflix_merged_country =  df_Netflix_merged_country.rename(columns = {0:'country1',
                                                                        1:'country2',
                                                                        2:'country3',
                                                                        3:'country4',
                                                                        4:'country5',
                                                                        5:'country6',
                                                                        6:'country7',
                                                                        7:'country8',
                                                                        8:'country9',
                                                                        9:'country10',
                                                                        10:'country11',
                                                                        11:'country12'})
df_Netflix_merged_country.head()

,show_id,type,title,director,cast,date_added,release_year,rating,duration,genres,...,country3,country4,country5,country6,country7,country8,country9,country10,country11,country12
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",...,None,None,None,None,None,None,None,None,None,None
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",...,None,None,None,None,None,None,None,None,None,None
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",...,None,None,None,None,None,None,None,None,None,None
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",01-Mar-16,2016,R,90,Comedies,...,None,None,None,None,None,None,None,None,None,None
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",...,None,None,None,None,None,None,None,None,None,None

In [96]:
df_Netflix_merged_country.drop(columns=['country7','country8','country9','country10', 'country11', 'country12'])
df_Netflix_merged_country.head()

,show_id,type,title,director,cast,date_added,release_year,rating,duration,genres,...,country3,country4,country5,country6,country7,country8,country9,country10,country11,country12
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",...,None,None,None,None,None,None,None,None,None,None
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",...,None,None,None,None,None,None,None,None,None,None
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",...,None,None,None,None,None,None,None,None,None,None
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",01-Mar-16,2016,R,90,Comedies,...,None,None,None,None,None,None,None,None,None,None
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",...,None,None,None,None,None,None,None,None,None,None

In [108]:
df_split_genre= df_Netflix['genres'].str.split(',', expand=True)
df_split_genre

                           0                        1                      2
0     International TV Shows                TV Dramas    TV Sci-Fi & Fantasy
1              Horror Movies     International Movies              Thrillers
2                     Dramas     International Movies          Sports Movies
3                   Comedies                     None                   None
4           British TV Shows               Docuseries    Science & Nature TV
...                      ...                      ...                    ...
7782  International TV Shows               Reality TV                   None
7783            Anime Series   International TV Shows                   None
7784                  Dramas       Independent Movies   International Movies
7785                Comedies                   Dramas     Independent Movies
7786                  Dramas       Independent Movies        Romantic Movies

[7787 rows x 3 columns]

In [109]:
df_Netflix_merged_country_genre = pd.merge(df_Netflix_merged_country, df_split_genre, left_index=True, right_index=True)
df_Netflix_merged_country_genre.head()

,show_id,type,title,director,cast,date_added,release_year,rating,duration,genres,...,country6,country7,country8,country9,country10,country11,country12,0,1,2
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",...,None,None,None,None,None,None,None,International TV Shows,TV Dramas,TV Sci-Fi & Fantasy
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",...,None,None,None,None,None,None,None,Horror Movies,International Movies,Thrillers
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",...,None,None,None,None,None,None,None,Dramas,International Movies,Sports Movies
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",01-Mar-16,2016,R,90,Comedies,...,None,None,None,None,None,None,None,Comedies,None,None
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",...,None,None,None,None,None,None,None,British TV Shows,Docuseries,Science & Nature TV

In [113]:
df_Netflix_merged_country_genre.drop(columns=['genres'], inplace=True)
df_Netflix_merged_country_genre.head()

,show_id,type,title,director,cast,date_added,release_year,rating,duration,description,...,country6,country7,country8,country9,country10,country11,country12,0,1,2
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",14-Aug-20,2020,TV-MA,4,In a future where the elite inhabit an island ...,...,None,None,None,None,None,None,None,International TV Shows,TV Dramas,TV Sci-Fi & Fantasy
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",15-Dec-17,2008,TV-MA,143,An architect and his wife move into a castle t...,...,None,None,None,None,None,None,None,Horror Movies,International Movies,Thrillers
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",05-Jan-19,2016,TV-PG,124,Three Indonesian women break records by becomi...,...,None,None,None,None,None,None,None,Dramas,International Movies,Sports Movies
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",01-Mar-16,2016,R,90,New NFL star Thad buys his old teammates' belo...,...,None,None,None,None,None,None,None,Comedies,None,None
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,03-Dec-18,2017,TV-G,1,This sequel to the award-winning nature series...,...,None,None,None,None,None,None,None,British TV Shows,Docuseries,Science & Nature TV

In [115]:
df_Netflix_merged_country_genre =  df_Netflix_merged_country_genre.rename(columns = {0:'genre1',
                                                                                    1:'genre2',
                                                                                    2:'genre3',
                                                                                    })
df_Netflix_merged_country_genre.head()

,show_id,type,title,director,cast,date_added,release_year,rating,duration,description,...,country6,country7,country8,country9,country10,country11,country12,genre1,genre2,genre3
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",14-Aug-20,2020,TV-MA,4,In a future where the elite inhabit an island ...,...,None,None,None,None,None,None,None,International TV Shows,TV Dramas,TV Sci-Fi & Fantasy
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",15-Dec-17,2008,TV-MA,143,An architect and his wife move into a castle t...,...,None,None,None,None,None,None,None,Horror Movies,International Movies,Thrillers
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",05-Jan-19,2016,TV-PG,124,Three Indonesian women break records by becomi...,...,None,None,None,None,None,None,None,Dramas,International Movies,Sports Movies
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",01-Mar-16,2016,R,90,New NFL star Thad buys his old teammates' belo...,...,None,None,None,None,None,None,None,Comedies,None,None
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,03-Dec-18,2017,TV-G,1,This sequel to the award-winning nature series...,...,None,None,None,None,None,None,None,British TV Shows,Docuseries,Science & Nature TV

In [117]:
df_Netflix_merged_country_genre[['duration','genre1','genre2','genre3']].head()

,duration,genre1,genre2,genre3
0,4,International TV Shows,TV Dramas,TV Sci-Fi & Fantasy
1,143,Horror Movies,International Movies,Thrillers
2,124,Dramas,International Movies,Sports Movies
3,90,Comedies,None,None
4,1,British TV Shows,Docuseries,Science & Nature TV

In [119]:
df_Netflix_merged_country_genre[['type', 'country1','country2','country3']].loc[df_Netflix_merged_country_genre['country1'] != 'United States']

         type        country1        country2 country3
0     TV Show          Brazil            None     None
1       Movie           India            None     None
2       Movie       Indonesia            None     None
4     TV Show  United Kingdom            None     None
6       Movie         Germany   United States     None
...       ...             ...             ...      ...
7778    Movie       Argentina   United States     None
7780  TV Show          Norway            None     None
7782  TV Show          Canada            None     None
7783  TV Show           Japan            None     None
7784    Movie          France         Belgium    Spain

[4904 rows x 4 columns]

## ~~ Data Visualization