# NetFlix 

This Netflix Dataset has information about the TV shows and Movies available on Netflix from the year 2008 to 2021.
Netflix is an application that keeps growing exponentially whole around the world and it is the most famous streaming platform.

### Part 1 

* You will likely need to perform to read csv file , changing the names of your columns as you go along. Understanding the Dataset, preprofiling, preprocessing, post profiling

In [1]:
# Import Dependencies

from pathlib import Path
import pandas as pd
import matplotlib as plt
import numpy as np

In [31]:
# Create a path to the csv and read it into a Pandas DataFrame

netflix_path=Path("../uwa-dataanalytics-project1/NetFlix.csv")
netflix_path_df=pd.read_csv(netflix_path)
netflix_path_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",This sequel to the award-winning nature series...

In [32]:
# Create a rename into a Pandas DataFrame


netflix=netflix_path_df.rename(columns={"show_id":"Show ID",
                                                "type": "Type",
                                                "title": "Title",
                                                "director": "Director",
                                                "cast":"Cast",
                                                "country": "Country",
                                                "date_added": "Date Added",
                                                "release_year": "Release Year",
                                                "rating": "Rating",
                                                "duration": "Duration",
                                                "genres": "Genres",
                                                "description": "Description"})

netflix

,Show ID,Type,Title,Director,Cast,Country,Date Added,Release Year,Rating,Duration,Genres,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",This sequel to the award-winning nature series...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s995,TV Show,Blown Away,NaN,NaN,Canada,12-Jul-19,2019,TV-14,1,"International TV Shows, Reality TV",Ten master artists turn up the heat in glassbl...
7783,s996,TV Show,Blue Exorcist,NaN,"Nobuhiko Okamoto, Jun Fukuyama, Kana Hanazawa,...",Japan,01-Sep-20,2017,TV-MA,2,"Anime Series, International TV Shows",Determined to throw off the curse of being Sat...
7784,s997,Movie,Blue Is the Warmest Color,Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...","France, Belgium, Spain",26-Aug-16,2013,NC-17,180,"Dramas, Independent Movies, International Movies","Determined to fall in love, 15-year-old Adele ..."
7785,s998,Movie,Blue Jasmine,Woody Allen,"Cate Blanchett, Sally Hawkins, Alec Baldwin, L...",United States,08-Mar-19,2013,PG-13,98,"Comedies, Dramas, Independent Movies",The high life leads to high anxiety for a fash...
7786,s999,Movie,Blue Jay,Alex Lehmann,"Sarah Paulson, Mark Duplass, Clu Gulager",United States,06-Dec-16,2016,TV-MA,81,"Dramas, Independent Movies, Romantic Movies",Two former high school sweethearts unexpectedl...

In [33]:
netflix_clean=netflix.dropna(how="any")
netflix_clean

,Show ID,Type,Title,Director,Cast,Country,Date Added,Release Year,Rating,Duration,Genres,Description
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
5,s1002,Movie,Blue Ruin,Jeremy Saulnier,"Macon Blair, Devin Ratray, Amy Hargreaves, Kev...","United States, France",25-Feb-19,2013,R,90,"Independent Movies, Thrillers",Bad news from the past unhinges vagabond Dwigh...
6,s1003,Movie,Blue Streak,Les Mayfield,"Martin Lawrence, Luke Wilson, Peter Greene, Da...","Germany, United States",01-Jan-21,1999,PG-13,94,"Action & Adventure, Comedies",A jewel thief returns to his hiding place afte...
...,...,...,...,...,...,...,...,...,...,...,...,...
7778,s991,Movie,Blood Will Tell,"Miguel Cohan, Miguel Cohan","Oscar Martínez, Dolores Fonzi, Diego Velázquez...","Argentina, United States",21-Jun-19,2019,TV-MA,113,"Dramas, Independent Movies, International Movies",Family patriarch Elías begins to unravel after...
7781,s994,Movie,Blow,Ted Demme,"Johnny Depp, Penélope Cruz, Franka Potente, Ra...",United States,01-Oct-19,2001,R,123,Dramas,Cocaine smuggler George rises from poverty to ...
7784,s997,Movie,Blue Is the Warmest Color,Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...","France, Belgium, Spain",26-Aug-16,2013,NC-17,180,"Dramas, Independent Movies, International Movies","Determined to fall in love, 15-year-old Adele ..."
7785,s998,Movie,Blue Jasmine,Woody Allen,"Cate Blanchett, Sally Hawkins, Alec Baldwin, L...",United States,08-Mar-19,2013,PG-13,98,"Comedies, Dramas, Independent Movies",The high life leads to high anxiety for a fash...
7786,s999,Movie,Blue Jay,Alex Lehmann,"Sarah Paulson, Mark Duplass, Clu Gulager",United States,06-Dec-16,2016,TV-MA,81,"Dramas, Independent Movies, Romantic Movies",Two former high school sweethearts unexpectedl...

In [34]:
netflix_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 1 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Show ID       4808 non-null   object
 1   Type          4808 non-null   object
 2   Title         4808 non-null   object
 3   Director      4808 non-null   object
 4   Cast          4808 non-null   object
 5   Country       4808 non-null   object
 6   Date Added    4808 non-null   object
 7   Release Year  4808 non-null   int64
 8   Rating        4808 non-null   object
 9   Duration      4808 non-null   int64
 10  Genres        4808 non-null   object
 11  Description   4808 non-null   object
dtypes: int64(2), object(10)
memory usage: 488.3+ KB

In [35]:
netflix_clean.describe()

       Release Year     Duration
count   4808.000000  4808.000000
mean    2012.710275    99.579035
std        9.521541    30.894541
min     1942.000000     1.000000
25%     2011.000000    88.000000
50%     2016.000000    99.000000
75%     2018.000000   116.000000
max     2021.000000   253.000000

In [36]:
netflix_clean.count()

Show ID         4808
Type            4808
Title           4808
Director        4808
Cast            4808
Country         4808
Date Added      4808
Release Year    4808
Rating          4808
Duration        4808
Genres          4808
Description     4808
dtype: int64

In [37]:
netflix_clean.columns

Index(['Show ID', 'Type', 'Title', 'Director', 'Cast', 'Country', 'Date Added',
       'Release Year', 'Rating', 'Duration', 'Genres', 'Description'],
      dtype='object')

In [39]:
netflix_clean.dtypes

Show ID         object
Type            object
Title           object
Director        object
Cast            object
Country         object
Date Added      object
Release Year     int64
Rating          object
Duration         int64
Genres          object
Description     object
dtype: object

## Part 2  
### Summary Statistics
* Calculate different types of show or movie on NetFlix
* Calculate the correlation between TV and Movie production year by year
* Calculate the highest rating TV Show or Movies
* Calculate length of movie based on rating
* Split Genres 
* The highest genres by year

In [54]:
#Calculate different types of show or movie on NetFlix

netflix_type=netflix_clean["Type"].value_counts()

netflix_groupby=netflix_clean.groupby(["Type"])
netflix_groupby.count()

,Show ID,Title,Director,Cast,Country,Date Added,Release Year,Rating,Duration,Genres,Description
Type,,,,,,,,,,,
Movie,4673,4673,4673,4673,4673,4673,4673,4673,4673,4673,4673
TV Show,135,135,135,135,135,135,135,135,135,135,135

In [67]:
#Calculate the correlation between TV and Movie production year by year

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7f82ec53d390>

In [65]:
#Calculate the highest rating TV Show or Movies
netflix_groupby=netflix_clean.groupby("Type")["Rating"].agg(pd.Series.mode)
netflix_groupby

Type
Movie      TV-MA
TV Show    TV-MA
Name: Rating, dtype: object

In [ ]:
#Calculate length of movie based on rating

In [75]:
#Split Genres

netflix_genre=netflix_clean["Genres"].str.split(",")
netflix_clean["Genre 1"]=netflix_genre.str.get(0)
netflix_clean["Genre 2"]=netflix_genre.str.get(1)
netflix_clean["Genre 3"]=netflix_genre.str.get(2)
netflix_clean.head()

/var/folders/5c/91vy87lj6jn5w2_2n9dq467m0000gn/T/ipykernel_1670/2933659244.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_clean["Genre 1"]=netflix_genre.str.get(0)
/var/folders/5c/91vy87lj6jn5w2_2n9dq467m0000gn/T/ipykernel_1670/2933659244.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_clean["Genre 2"]=netflix_genre.str.get(1)
/var/folders/5c/91vy87lj6jn5w2_2n9dq467m0000gn/T/ipykernel_1670/2933659244.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_clean["Genre 3"]=netflix_genre.str.get(2)

,Show ID,Type,Title,Director,Cast,Country,Date Added,Release Year,Rating,Duration,Genres,Description,Genre 1,Genre 2,Genre 3
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...,Horror Movies,International Movies,Thrillers
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...,Dramas,International Movies,Sports Movies
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...,Comedies,NaN,NaN
5,s1002,Movie,Blue Ruin,Jeremy Saulnier,"Macon Blair, Devin Ratray, Amy Hargreaves, Kev...","United States, France",25-Feb-19,2013,R,90,"Independent Movies, Thrillers",Bad news from the past unhinges vagabond Dwigh...,Independent Movies,Thrillers,NaN
6,s1003,Movie,Blue Streak,Les Mayfield,"Martin Lawrence, Luke Wilson, Peter Greene, Da...","Germany, United States",01-Jan-21,1999,PG-13,94,"Action & Adventure, Comedies",A jewel thief returns to his hiding place afte...,Action & Adventure,Comedies,NaN