In [1]:
import requests
import json

from config import api_key
import requests

In [5]:
url = "https://airbnb19.p.rapidapi.com/api/v1/searchDestination"

querystring = {"query":"Perth","country":"Australia"}

headers = {
	"content-type": "application/octet-stream",
	"X-RapidAPI-Key": "dd7dd3843amsh6b942ff8ea44f5cp1ce0d5jsna104260fd951",
	"X-RapidAPI-Host": "airbnb19.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

response.json()

{'status': True,
 'message': 'Success',
 'timestamp': 1682744071118,
 'data': [{'id': 'ChIJPXNH22yWMioR0FXfNbXwBAM',
   'location_name': 'Perth, Western Australia',
   'terms': [{'offset': 0, 'value': 'Perth'},
    {'offset': 7, 'value': 'Western Australia'}],
   'country_code': 'AU',
   'countryCode': 'AU',
   'display_name': 'Perth, Western Australia'},
  {'id': 'ChIJPXNH22yWMioR0FXfNbXwBAM',
   'location_name': 'Perth, Western Australia',
   'terms': [{'offset': 0, 'value': 'Perth'},
    {'offset': 7, 'value': 'Western Australia'}],
   'country_code': 'AU',
   'countryCode': 'AU',
   'display_name': 'Perth, Western Australia stays'},
  {'id': 'ChIJPXNH22yWMioR0FXfNbXwBAM',
   'location_name': 'Perth, Western Australia',
   'terms': [{'offset': 0, 'value': 'Perth'},
    {'offset': 7, 'value': 'Western Australia'}],
   'country_code': 'AU',
   'countryCode': 'AU',
   'display_name': 'Perth, Western Australia experiences'},
  {'id': 'ChIJJUGGbU47hkgR7U1JU0ZWdG0',
   'location_name': 'Perth, Scotland, UK',
   'terms': [{'offset': 0, 'value': 'Perth'},
    {'offset': 7, 'value': 'Scotland'},
    {'offset': 17, 'value': 'UK'}],
   'country_code': 'GB',
   'countryCode': 'GB',
   'display_name': 'Perth, Scotland'},
  {'id': 'ChIJC4Rr0Cq7MioRAFPLcwKhtHI',
   'location_name': 'Perth City, WA, Australia',
   'terms': [{'offset': 0, 'value': 'Perth City'},
    {'offset': 12, 'value': 'WA'},
    {'offset': 16, 'value': 'Australia'}],
   'country_code': 'AU',
   'countryCode': 'AU',
   'display_name': 'Perth City, WA'}]}

In [17]:
import pandas as pd
data = response.json() 
df = pd.DataFrame(data) 
# Display the dataframe as a table
df
# Write the dataframe to a CSV file
df.to_csv("my_dataframe.csv")

In [3]:
# Write to .CSV
f = open('C:\_Python\one\\newfile.csv', "w")
f.write(rcomp.text)
f.close()
'''
data = rcomp.text
csvFile = open('C:\_Python\\CompletionReportOutput.csv', 'w')

writer = csv.writer(csvFile, delimiter = "")

for row in data.split('\n'):
    writer.writerow(row)

SyntaxError: incomplete input (815346959.py, line 5)

In [14]:
import pandas as pd

In [21]:
data1 = {"Name": ["John", "Jack", "Harry", "Nutball", "Donkey", "Clown"], "Age": [1, 6, 9, 13, 16, 19], "City": ["north", "south", "west", "butt", "Byby", "Eastwestnorth"]}
df1 = pd.DataFrame(data1)

In [22]:
df1

      Name  Age           City
0     John    1          north
1     Jack    6          south
2    Harry    9           west
3  Nutball   13           butt
4   Donkey   16           Byby
5    Clown   19  Eastwestnorth

In [2]:
df1.to_csv("my_file_.csv", index=False)

NameError: name 'df1' is not defined